/* 共通設定 */
h1, h2, h3, h4, h5, h6{
  position: relative;
  padding-left: 20px;
  pointer-events: none;
}

h1::before, h2::before, h3::before, h4::before, h5::before, h6::before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 8px;
  height: 100%;
  border-radius: 8px;
  pointer-events: none;
}

/* 固有設定 */
h1 {
  background-color: rgba(219, 63, 52, 0.1);
  border-radius: 8px;
}

h2 {
  background-color: rgba(219, 133, 52, 0.1);
  border-radius: 8px;
}

h3 {
  background-color: rgba(219, 208, 52, 0.1);
  border-radius: 8px;
}

h4 {
  background-color: rgba(113, 219, 52, 0.1);
  border-radius: 8px;
}

h5 {
  background-color: rgba(52, 219, 183, 0.1);
  border-radius: 8px;
}

h6 {
  background-color: rgba(52, 96, 219, 0.1);
  border-radius: 8px;
}

h1::before {
  background: rgb(219, 63, 52);
}

h2::before {
  background: rgb(219, 133, 52);
}

h3::before {
  background: rgb(219, 208, 52);
}

h4::before {
  background: rgb(113, 219, 52);
}

h5::before {
  background: rgb(52, 219, 183);
}

h6::before {
  background: rgb(52, 96, 219);
}